
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  margin: auto;
  align-self: center;
  display: grid;
  height: 700px;
  width: 700px;
  grid-template-columns: repeat(8, 1fr);
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.dot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: none;
}

.white{
  background-color: white;
  display: block;

}
.black {
  background-color: black;
  display: block;

}